[Unit]
Description=Promtail
Documentation=https://grafana.com/oss/loki
Wants=network-online.target

[Service]
User=root
Group=root
Restart=on-failure
ExecStart=/opt/loki/promtail --config.file=/etc/loki/promtail.yaml
TimeoutStopSec=20
UMask=0027

[Install]
WantedBy=multi-user.target

